html {
    font-family: 'Montserrat', sans-serif;
}

body {

}

.box {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 100px 1fr 60px;
    grid-template-areas:
        "header  header"
        "sidebar content"
        "sidebar footer"
}

.header {
    grid-area: header;
    
}

.header .headeruser {
    float: right;
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.header .headeruser .fas {
    margin: 0 5px 0px 5px;
    padding: 5px 5px 5px 5px;
}

.header .dhbwlogo {
    display: inline-block;
    margin: 7px 40px 7px 40px;
}


.content {
    grid-area: content;
    background-color: #ecf0f1;
    border: 0;
    border-top-left-radius: 15px;
    
}

.content #contenttitel {
    
    margin: 20px 50px 20px 50px;
    padding: 0 0 0 0;
    display: inline-block;
    
}

.content #contenttitel h1 {
    
}

.content #dozenthinzufügen {
    
    display: inline-block;
    margin: 50px 50px 20px 50px;
    padding: 0 0 0 0;
    float: right;
}

.content #neuerdozent {
    border: none;
    border-color: red;
    border-radius: 15px;
}

.content #dozentliste ul{
    padding-inline-start: 0px;
}

.content #dozentliste {
    margin: 20px 50px 20px 50px;
}

.content #dozentliste li {
    list-style: none;
    background-color: white;
    border-color: #C0C0C0;
}

.content .card-text {
    display: inline-block;
}

.content #dozentoptionen {
    border: none;
    float: right;
}

.content .fas {
    display: inline-block;
    color: red;
    zoom: 80%;
}

.content #dozenteinzeln { 
    background-color: white;
    border-color: #C0C0C0;
    padding: 10px 20px 20px 20px;
    margin: 20px 20px 20px 0px;
    border-radius: 15px;
    display: inline-block;
}

/*Content Kalender*/

.content .contentinhalt {
    margin: 50px 50px 50px 50px;
    padding: 0 0 0 0;
}

/*Kalender*/

.content .contentinhalt .table #wochentage {
    border-top: none;
}

/*Sidebar*/

.sidebar {
    grid-area: sidebar;
    background-color: /*#ecf0f1*/ #dff9fb;
}

.sidebar .sidebarliste li {
    list-style: none;
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
}

.sidebar .sidebarliste li .fas {
    padding: 0 5px 0 5px;
}


.sidebar .sidebarinhalt {
    margin: 31px 20px 30px 20px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 15px;
}
.footer {
    grid-area: footer;
    background-color: yellow;
}