html {
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   
}

.box {
    width: 100vw;
    background-color: #E25A53;
    height: 100vh;
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 75px 1fr 30px;
    grid-template-areas:
        "sidebar content"
        "sidebar content"
        "sidebar content"
}

/*
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
} */


/*Header*/

.header {
    grid-area: header;
    border-bottom: 1px solid black;
    width: 100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    /*border-bottom: 2px solid #D4D4DE;*/
}

.header .headercontent {
  margin: 10px 20px 10px 20px;
}

.header .dhbwlogo {
    display: inline-block;
    height: auto; 
}

.header .headeruser {
    float: right;
    display: inline-block;
    margin: 7px 0px 7px 0;
}

.header .headeruser .fas {
    margin: 0 5px 0px 5px;
    padding: 5px 5px 5px 5px;
}

/*Content Allgemein*/

.content {
    font-family: 'Montserrat', sans-serif;
    grid-area: content;
    background-color: #F4F5FA;
    border-radius: 50px;
    border: 10px solid #E25A53;
    height: 100%;
    overflow-x: hidden;
    transition: margin-left .5s;
    margin-left: 0;
}

.content .contentinhalt {
    margin: 10px 50px 10px 50px;
    padding: 0 0 0 0;
}

.content .contentinhalt .contenttitel {
    
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    zoom: 200%;
    padding: 0px 0px 0px 0px;
    border: none;
}

.content .titel{
    margin: 5px 5px 5px 5px;
    display: inline-block; 
}

.content #dozenthinzufügen {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    float: right;
}

.content #dozentliste ul{
    padding-inline-start: 0px;
}

.content #dozentliste {
    margin: 5px 5px 5px 5px;
    
}

.content #dozentliste li {
    list-style: none;
    background-color: white;
    border-color: #C0C0C0;
}

.content .card-text {
    display: inline-block;
}

.content #dozentoptionen {
    border: none;
    float: right;
}

.content .fas {
    display: inline-block;
    color: rgb(71, 70, 70);
    zoom: 80%;
}

.content .shadow { 
    background-color: white;
    border-color: #C0C0C0;
    margin: 20px 20px 10px 0px;
    border-radius: 15px;
    display: inline-block;
}

.contentinhalt #testbutton{
    display: inline-block;
    float: right;
}

/*DropDown Cards*/
.dropdown-menu {
    border-radius: 15px!important;
}


/*Content Vorlesungsplan*/

.content .Vorlesungsplanansicht{
    background-color: white;
    margin: 20px 10px 20px 10px;
    border-radius: 15px;
    
}

.content .Vorlesungsplanansicht .fas {
    zoom: 150%;
    margin: -2px 10px 2px 10px;
}

.content .content2 .kalenderAuswahl {
    display: inline-block;
    float: right;
    margin: 10px 10px 10px 10px;

}

.content .Vorlesungsplanansicht button {
    
    background-color: none;
}

.content .Vorlesungsplanansicht .Kalenderheader {
    border-bottom: 1px solid grey;
    margin: 10px 10px 10px 10px;
    display: flex;

}



.content .Vorlesungsplanansicht .Kalenderwochen {
    border-bottom: 1px solid grey;
    margin: 10px 10px 10px 10px;
    display: flex;

}

.content .Vorlesungsplanansicht .Kalenderwochenansicht {
   
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}



.content .Vorlesungsplanansicht .Kalendertageinzeln {
    /*border: 1px solid grey; */
    display: inline-block;
    margin: 10px 10px 10px 10px;
    /*width: 130px;
    height: 500px;*/
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    width: 30%;
    height: auto; 
}

.content .Vorlesungsplanansicht .Kalendertageinzeln #tagheader {
    /*border-bottom: 2px solid #E25A53;*/
    text-align: center;
}

.content .Vorlesungsplanansicht .Kalendertageinzeln .taginhalt {
    text-align: center;
}

.content .Vorlesungsplanansicht .Kalendertageinzeln .taginhalt .einzelnevorlesung {
    text-align: center;
    border-left: 2px solid #E25A53;
    margin: 15px 5px 15px 5px;
    background-color: rgb(241, 166, 163);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 10px 5px 10px;

}


/*Dialog Fenster*/

.contentinhalt .Dialog{
    border: none;
    border-radius: 15px;
    padding: 25px 25px 25px 25px;
    
}

/*Sidebar*/

.sidebar {
    font-family: 'Montserrat', sans-serif;
    grid-area: sidebar;
    background-color: #E25A53;
    z-index: 1;
    top: 100px;
    left: 0;
    height: 100%;
    overflow-x: hidden;
}

.sidebar .closebtn {
    position: initial;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: -20px;
  }
  
.sidebar .sidebarliste li {
    list-style: none;
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
}

.sidebar .sidebarliste li .fas {
    padding: 0 5px 0 5px;
}

.sidebar .dhbwlogo {
    display: inline-block;
    margin: 7px 5px 7px 5px;
}

.sidebar .sidebarinhalt {
    text-align: center;
    background-color: ;
    border-radius: ;
    color: #F4F5FA;
}

.sidebar .sidebarinhalt .sidebartabs {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    margin: 10px 5px 10px 5px;
    text-align: center;
    
}

.sidebar .sidebarinhalt .sidebartabs #sidebaricons {
    
}

.sidebar .sidebarinhalt .sidebarTabs {
    display: flex;
    align-self: auto;
}

.sidebar .sidebarinhalt .sidebarTabs a:hover {
    
    color: white;
    
}

button{
    background: none;
    border: none;
}

.sidebar .sidebarinhalt .sidebarTabs h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    color: #F4F5FA;
    text-transform: uppercase; 
}

.sidebar .sidebarinhalt .sidebarTabs i{
    height: 16px;
    width: 16px;
    
    justify-content: center;
    align-items: center;

}

.sidebar .sidebarinhalt .sidebarTabs .fas{
    zoom: 130%;
    color: #E25A53;

}
/*Navbar*/
a{
    color: black!important;
}

.sidebar #navbar-example3{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}



.sidebar .nav-link{
    
}


/*Footer*/
.footer {
    grid-area: footer;
    background-color: #F4F5FA;
    border-bottom-left-radius: 20px;
    /*border-left: 2px solid #D4D4DE;*/
}

/*Responsiveness*/

@media only screen and (max-width: 600px) {
    .sidebar { 
     width: 100%;
    }

    .sidebar {
        font-size: 120%;
        width : 100%;  
    }

    .content {
        font-size: 80%;
    }
    
    .content .contentinhalt {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .Dialog{
        width: 100%;
        height: 100%
    }

    .content #dozentliste li {
        width: 100%
    }

    .content .Vorlesungsplanansicht .Kalendertageinzeln{
        width: 100%;
    }

    .content #dozenthinzufügen {
        float: left;
    }

    .content .content2 .kalenderAuswahl {
        float: left;
    }

   

}



/*
declare a 7 column grid on the table
#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: #8e352e;  
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #333;
	color: #fff;
	width: 20px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
} */