html {

}

body {

}

.box {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
        "header  header"
        "sidebar content"
        "footer footer"
}

.header {
    grid-area: header;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: #ecf0f1;
}

.content #contenttitel {
    background-color: red;
    margin: 20px 20px 20px 20px;
    padding: 0 0 0 0;
    display: inline-block;
}

.content #contenttitel h1 {
    
}

.content #dozenthinzufügen {
    background-color: green;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    padding: 0 0 0 0;
    float: right;
}

.content #dozentliste ul{
    padding-inline-start: 0px;
}

.content #dozentliste li {
    list-style: none;
    background-color: white;
    border-color: #C0C0C0;
}

.content #dozenteinzeln { 
    background-color: white;
    border-color: #C0C0C0;
    padding: 10px 10px 10px 10px;
    margin: 20px 55px 20px 55px;
    border-radius: 15px;
}

.content 

.sidebar {
    grid-area: sidebar;
    background-color: green;
}

.footer {
    grid-area: footer;
    background-color: yellow;
}