<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vorlesung erstellen</title>
</head>
<body>
<div align="center">
    <h1>Vorlesung erstellen</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Vorlesungsfach:</td>
                <td><input type="text" th:field="*{name}" id ="fach"></td>
            </tr>
            <tr>
                <td>Zeitraum:</td>
                <td><input type="text" th:field="*{name}" id = "zeitplan"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" id ="speichern">Eingabe</button></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" id ="speichern2">Zurück zu Menü</button></td>
            </tr>
        </table>
    </form>
</div>
<script src="EingabeVorlesung.js"> </script>
</body>
</html>